<div id="sidr">
    <ul>
      <li><%= link_to "Home", root_path %> </li>
      <li><%= link_to "About", about_path %></li>
      

    </ul>

    <img alt="Close" class="icon-close" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg" width="24px">
    </div>
    <div class="about-main">
<a href='#sidr'><img alt="Open" id="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" width="24px"></a>
	
		<div class=container>
		<div class="row">
			<div class="content col-md-6 col-md-offset-6"> <h1>About us</h1>
			 
			</div>
		</div>
	</div>
</div>