// v1 all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the stes related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu {
    background-color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    width: 240px;
    left: -240px;
    z-index: 1;
    }
  .icon-close {
	position: absolute;
	top: 18px;
	right: 33px;
	cursor: pointer;
}
#menu .li {color:white;}
  .home-main h1 {
	color: #fff;
	font-weight: 100;
	margin-bottom: 30px;
	text-shadow: 0 2px 3px rgba(0,0,0,0.4);

}

.home-main {
	background: image-url('../assets/lbanner.jpg') no-repeat center center;
	background-size: cover;
	height: 700px;
}
.home-main .content {
	position: relative;
	top: 250px;
	text-align: center;
}
.about-main {
	background: image-url('../assets/sbanner1.jpg') no-repeat center center;
	background-size: cover;
	height: 700px;
}
.about-main .content {
	position: relative;
	top: 250px;
	text-align: center;
}
.new-main {
	background: image-url('../assets/sbanner2.jpg') no-repeat center center;
	background-size: cover;
	height: 700px;
	color: #fff;
}
.new-main .content {
	position: relative;
	top: 100px;
}
form{text-align:left;}
.form-control {
	display: block;
	width: 80%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
h1 {
	font-size: 50px;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
.home-supporting, .home-about, .about-supporting {
	text-align: center;
}
.home-secondary {
	background: image-url('../assets/banner.jpg') no-repeat center center;
	background-size: cover;
	height: 700px;
}
#icon-menu {
	position: absolute;
	top: 18px;
	left: 30px;
	cursor: pointer;
}
.btn {color: #000; margin: -10px;}
input{color: #000;}